.pkb-nav {
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 0 15px;
    border-bottom: 2px solid #219197;
    box-shadow: 0px 2px 5px #219197;
    z-index: 10;
    font-family: "Open Sans", sans-serif;


a,
a:visited {
    color: black;
    font-weight: 600;
}
a:hover{
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    align-self: center;
}
.logo-text {
    position: relative;
    font-weight: 800;
    font-size: 18px;
    color: #219197;
    margin-left: -10px;
}
.logo-super {
    position: absolute;
    bottom: 17px;
    right: 0;
    font-weight: 500;
    font-size: 11px;
    color: #94c95e;
}
.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
.topmenu {
    display: flex;
    align-items: center;
    gap: 0px;
}
.topmenu-item {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
}
.topmenu-item:hover {
    color: #d9d9d9;
}
.topmenu-item:hover svg * {
    stroke: #d9d9d9;
}
.menu {
    display: flex;
}
.menu-item-wrapper {
    position: relative;
    display: flex;
}
.main-menu-items{
    display:flex;
    position: relative;
    padding-right:2px;
}
.main-menu-items:after {
    content: '';
    position: absolute;
    top:7px;
    right: 0px;
    width: 2px;
    background-color: #219197;
    height: 50%;
}
.menu-item {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    color: #2d2e2f;
    border-bottom: 5px solid transparent;
    font-size: 14px;
    text-decoration: none;
}
.menu-item.menu-item-main {
    color: #219197 !important;
    width: fit-content;
}
.menu-item.menu-item-selected {
    color: #219197;
    border-bottom: 5px solid #219197;
}
.menu-item-wrapper:hover .menu-item {
    color: #219197 !important;
    border-bottom: 5px solid #219197;
}
.menu-item-wrapper:hover > .submenu {
    display: flex;
}
.submenu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #94c95e;
    padding: 10px 10px 15px 15px;
    border-radius: 0 0 5px 5px;
    width: max-content;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    display: none;
    border-top: 2px solid #219197;
    box-shadow: inset 0 7px 5px -5px #219197;
    z-index: 10;
}
.submenu-item {
    color: #2d2e2f;
    width: fit-content;
    text-align: right;
    text-decoration: none;
    font-size: 14px;
}
.submenu-item:hover {
    color: white !important;
    cursor: pointer;
}
}