.pkb-nav {
    height: 99px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pkb-nav .logo {
    margin-left: 90px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 90px;
    gap: 50px;
}

.menu-item {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #656565;
}

.main-menu-item {
    color: #1C3D5E;
    font-weight: 700;
}