@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.gene {
    background-color: #EFF5FF;
    border: 1px solid #71B9FA;
    border-radius: 8px;
}

.cell {
    border: 1px solid #f6c957;
    background-color: rgba(246, 201, 87, 0.4);
    border-radius: 8px;
}

.snp {
    border: 1px solid #FFB77F;
    background-color: rgba(255, 183, 127, 0.4);
    border-radius: 8px;
}

@keyframes blink-gene {
    0%   { background-color: #EFF5FF; }
    50%  { background-color: #71B9FA; }
    100% { background-color: #EFF5FF; }
  }
  .blinking-gene {
    animation: blink-gene 1s linear infinite;
  }

@keyframes blink-cell {
    0%   { background-color: #FFDE7D66; }
    50%  { background-color: #FAC323; }
    100% { background-color: #FFDE7D66; }
    }
    .blinking-cell {
    animation: blink-cell 1s linear infinite;
}

@keyframes blink-snp {
    0%   { background-color: #FFB77F66; }
    50%  { background-color: #FFB77F; }
    100% { background-color: #FFB77F66; }
  }
  .blinking-snp {
    animation: blink-snp 1s linear infinite;
  }